@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Fira Sans";
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Shared Style */
.btn-primary {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
}

/* Header Style Start */

/* Top Nav Style */
nav .page-site {
  font-size: 32px;
  font-weight: 700;
}
nav .sign-in {
  color: #006a50;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #006a50;
  border-radius: 8px;
  padding: 15px 30px;
}
nav .first-div {
  display: flex;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
}

/* Bottom Nav Style */
nav .hero-section {
  display: flex;
  width: 1280px;
  padding: 80px 100px;
  gap: 64px;
  border-radius: 24px;
  background: #c6e4d6;
  justify-content: space-between;
  align-items: center;
}
nav .hero-left-side {
  background-color: #c6e4d6;
}
nav .hero-right-side-img {
  background-color: #c6e4d6;
}
nav .hero-right-side-bg {
  background-color: #c6e4d6;
}
nav .bottom-nav-title {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  background-color: #c6e4d6;
}
nav .bottom-nav-sub-title {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: 700;
  background-color: #c6e4d6;
}
.main-bottom-nav-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Header Style End */

/* Main Style Start */
/* Pillars of bangladesh section */
/* Section - 1 */
main .section-1-title {
  font-size: 40px;
  font-weight: 700;
}
.main .sec-1-img {
  height: 64px;
  width: 64px;
}
.sec-1-img {
  background-color: white;
}
main .sec-1-card-1-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 28px;
  font-weight: 700;
  margin-top: 24px;
  background-color: white;
}
main .sec-1-card-1-sub-title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
  margin-top: 12px;
  background-color: white;
}
main .sec-1-card-1-div {
  background-color: white;
  width: 302px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
main .sec-1-card-main {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}
main .section-1-main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* The vision of future */
/* section - 2 */
main .section-2-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
main .section-2-sub-title {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  text-align: justify;
}
main .section-2-img {
  height: 64px;
  width: 64px;
  background: transparent;
}
main .sec-2-card-1-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  background: transparent;
}
main .sec-2-card-1-sub-title {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
}
main .sec-2-card-1-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #5490f5;
  padding: 11px 20px;
  margin-top: 24px;
}
main .sec-2-card-2-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #09a15c;
  padding: 11px 20px;
  margin-top: 24px;
}
main .sec-2-card-3-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #ffc239;
  padding: 11px 20px;
  margin-top: 24px;
}
main .sec-2-card-1 {
  width: 415px;
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
  border-radius: 16px;
  border: 0px solid #5490f5;
}
main .sec-2-card-2 {
  width: 415px;
  background-color: #c6e4d6;
  padding: 32px;
  border-radius: 16px;
  border: 0px solid #09a15c;
}
main .sec-2-card-3 {
  width: 415px;
  background-color: #f7ebcf;
  padding: 32px;
  border-radius: 16px;
  border: 0px solid #ffc239;
}
main .section-2-main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
main .sec-2-card-main {
  display: flex;
  align-items: center;
  gap: 24px;
}

/*Dr. Younus Qoute*/
/*Section - 3 */

main .sec-3-para-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  color: rgba(14, 14, 14, 0.8);
  text-align: justify;
}
main .sec-3-para-2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background: transparent;
  margin-top: 12px;
}
main .sec-3-para-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  color: rgba(14, 14, 14, 0.6);
}

main .sec-3-main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 32px;
}
main .sec-3-main-div {
  background-image: url("./assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 1.8% 15%;
  width: 1440px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
}

/* Your opinion matters */
/* Section - 4 */
main .sec-4-main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}
main .sec-4-main-div {
  background-color: white;
  width: 1400px;
  padding: 32px 32px 32px 36px;
  border-radius: 16px;
  margin-top: 24px;
}
main .sec-4-para-1 {
  font-size: 40px;
  font-weight: 700;
  background: transparent;
}
table,
tr,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
}
table {
  width: 1400px;
}
.sec-4-th-1 {
  background-color: #c6e4d6;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}
.th-align {
  text-align: start;
}
.th-right-border {
  border-right: none;
}
.th-left-border {
  border-left: none;
}
.sec-4-tbody-td {
  font-size: 16px;
  font-weight: 600;
  padding: 32px;
  background-color: white;
}
.sec-4-tbody-select {
  text-align: center;
  background-color: white;
}
.sec-4-select-design {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid #0e0e0e;
  background: #c6e4d6;
}

/* Recent News */
/* Section - 5 */
.sec-5-main {
  display: flex;
  justify-content: center;
}
.sec-5-main-div {
  width: 1460px;
  margin-top: 80px;
}
.sec-5-sub-main-div {
  width: 1460px;
  margin-top: 24px;
}
.sec-5-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.sec-5-sub-title {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  text-align: justify;
}
.sec-5-img-1 {
  height: 306px;
  width: 408px;
  border-radius: 24px;
}
.sec-5-card-main-div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
}
.sec-5-card-right-div {
  background-color: white;
}
.sec-5-card-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  background: transparent;
}
.sec-5-img-2 {
  height: 40px;
  width: 134px;
  margin-bottom: 12px;
  background: transparent;
}
.sec-5-card-date-time {
  display: flex;
  align-content: center;
  background-color: white;
  gap: 10px;
}
.sec-5-card-date {
  background: transparent;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.sec-5-card-time {
  background: transparent;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.sec-5-card-sub-title {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  margin-top: 12px;
  margin-bottom: 32px;
}

/* Donate Today */
/* Section - 6 */

.sec-6-main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}
.sec-6-main-div {
  width: 1400px;
}
.sec-6-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.sec-6-sub-title {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.sec-6-card-main-div {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.sec-6-tk-card {
  font-size: 40px;
  font-weight: 700;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
}
.tk-200-bg {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #c6e4d6;
}
.tk-500-hover-effect:hover {
  background-color: #09a15c;
  color: white;
  opacity: 0 1;
  cursor: pointer;
}
.sec-6-tk-card:hover{
    background-color: #09a15c;
    color: white;
    opacity: 0 1;
    cursor: pointer;
}
.sec-6-form-main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sec-6-input {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 1032px;
  padding: 20px 40px;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}
.sec-6-input::placeholder {
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
  font-weight: 400;
}
.sec-6-btn-div {
  display: flex;
  justify-content: center;
}

/*Subscribe news latter
  Section -7*/

.section-7-main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}
.section-7-main-div {
  background-color: #c6e4d6;
  border-radius: 24px;
  width: 1280px;
  padding: 80px 100px;
}
.sec-7-title {
  color: #0e0e0e;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background: transparent;
}
.sec-7-sub-title {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  background: transparent;
}
.sec-7-text-msg {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  margin-top: 24px;
}
.sec-7-form {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sec-7-input {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  border: none;
  border-radius: 8px 0px 0px 8px;
  background: #fff;
  width: 600px;
  padding: 18px 40px;
}
.sec-7-input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.sec-7-btn {
  border-radius: 0px 8px 8px 0px;
  padding: 18px 34px;
}
/* Main Style end */

/* Footer Start */
.footer-main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}
.footer-main-div {
  background-color: white;
  padding: 50px 160px;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.footer-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  background: transparent;
  margin-bottom: 32px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 32px;
  background-color: white;
}
li {
  list-style: none;
  background-color: white;
}
.footer-img {
  background-color: white;
}
hr {
  border: none;
  border-top: 1px solid rgba(14, 14, 14, 0.15);
}
.footer-2-title{
    display: flex;
    justify-content: center;
    color: #0e0e0e;
    background-color: white;
}
/* Footer End */
